In [1]:
import pandas as pd
import numpy as np

In [40]:
# TIMES
rng = pd.date_range(start='2016 Jul 15', periods = 10, freq = 'M')
rng

DatetimeIndex(['2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31',
               '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28',
               '2017-03-31', '2017-04-30'],
              dtype='datetime64[ns]', freq='M')

In [18]:
# TIMES
rng = pd.date_range(start='2016 Jul 15', periods = 29, freq = '8H', tz='Asia/Hong_Kong')
rng

DatetimeIndex(['2016-07-01 00:00:00+08:00', '2016-07-01 08:00:00+08:00',
               '2016-07-01 16:00:00+08:00', '2016-07-02 00:00:00+08:00',
               '2016-07-02 08:00:00+08:00', '2016-07-02 16:00:00+08:00',
               '2016-07-03 00:00:00+08:00', '2016-07-03 08:00:00+08:00',
               '2016-07-03 16:00:00+08:00', '2016-07-04 00:00:00+08:00',
               '2016-07-04 08:00:00+08:00', '2016-07-04 16:00:00+08:00',
               '2016-07-05 00:00:00+08:00', '2016-07-05 08:00:00+08:00',
               '2016-07-05 16:00:00+08:00', '2016-07-06 00:00:00+08:00',
               '2016-07-06 08:00:00+08:00', '2016-07-06 16:00:00+08:00',
               '2016-07-07 00:00:00+08:00', '2016-07-07 08:00:00+08:00',
               '2016-07-07 16:00:00+08:00', '2016-07-08 00:00:00+08:00',
               '2016-07-08 08:00:00+08:00', '2016-07-08 16:00:00+08:00',
               '2016-07-09 00:00:00+08:00', '2016-07-09 08:00:00+08:00',
               '2016-07-09 16:00:00+08:00', '2016-07-10 00:00:00+08:00',
               '2016-07-10 08:00:00+08:00'],
              dtype='datetime64[ns, Asia/Hong_Kong]', freq='8H')

In [17]:
# TIMES
rng = pd.date_range(start='2016 Jul 15', end='2016 Jul 25', freq = '8H')
rng

DatetimeIndex(['2016-07-15 00:00:00', '2016-07-15 08:00:00',
               '2016-07-15 16:00:00', '2016-07-16 00:00:00',
               '2016-07-16 08:00:00', '2016-07-16 16:00:00',
               '2016-07-17 00:00:00', '2016-07-17 08:00:00',
               '2016-07-17 16:00:00', '2016-07-18 00:00:00',
               '2016-07-18 08:00:00', '2016-07-18 16:00:00',
               '2016-07-19 00:00:00', '2016-07-19 08:00:00',
               '2016-07-19 16:00:00', '2016-07-20 00:00:00',
               '2016-07-20 08:00:00', '2016-07-20 16:00:00',
               '2016-07-21 00:00:00', '2016-07-21 08:00:00',
               '2016-07-21 16:00:00', '2016-07-22 00:00:00',
               '2016-07-22 08:00:00', '2016-07-22 16:00:00',
               '2016-07-23 00:00:00', '2016-07-23 08:00:00',
               '2016-07-23 16:00:00', '2016-07-24 00:00:00',
               '2016-07-24 08:00:00', '2016-07-24 16:00:00',
               '2016-07-25 00:00:00'],
              dtype='datetime64[ns]', freq='8H')

In [ ]:
# Which of these formats DON'T work?
#'2016 Jul 1', '7/1/2016', '1/7/2016', 'July 1, 2016', '2016-07-01', '2016/07/01'
# none

In [ ]:
# Is '7/1/2016 in January or July?
# July

In [53]:
pd.date_range(start='7/1/2016', periods = 10, freq = 'D')

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# What is the class of an individual object held in the date_range?

In [19]:
# TIME STAMPS VS TIME SPANS
pd.Timestamp('2016-07-10')

Timestamp('2016-07-10 00:00:00')

In [20]:
# You can also more details 
pd.Timestamp('2016-07-10 10')

Timestamp('2016-07-10 10:00:00')

In [22]:
# Or even more...
pd.Timestamp('2016-07-10 10:15:15.340')

Timestamp('2016-07-10 10:15:15.340000')

In [ ]:
# How much detail can you add?

hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components

In [23]:
# What are some properties of timestamps? Try them out.
# hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components
t = pd.Timestamp('2016-07-10 10:15')

In [24]:
t.quarter

3

In [25]:
t.weekday_name

'Sunday'

In [26]:
# TIME SPANS
pd.Period('2016-01')

Period('2016-01', 'M')

In [27]:
# What's that extra info above? How does it get set?

In [28]:
pd.Period('2016-01-01')

Period('2016-01-01', 'D')

In [29]:
pd.Period('2016-01-01 10')

Period('2016-01-01 10:00', 'H')

In [30]:
pd.Period('2016-01-01 10:10')

Period('2016-01-01 10:10', 'T')

In [31]:
pd.Period('2016-01-01 10:10:10')

Period('2016-01-01 10:10:10', 'S')

In [32]:
# What's the most detailed Period you can get?

In [33]:
# How can you make multiple time periods? 
# Hint look for analogy with pd.date_range() above

In [35]:
# TIME OFFSETS
pd.Timedelta('1 day')

Timedelta('1 days 00:00:00.000001')

In [36]:
pd.Timedelta('1 day 1us')

Timedelta('1 days 00:00:00.000001')

In [37]:
pd.Timedelta('1 day 1ns')

Timedelta('1 days 00:00:00.000000')

In [46]:
rng + pd.Timedelta('1day')

DatetimeIndex(['2016-08-01', '2016-09-01', '2016-10-01', '2016-11-01',
               '2016-12-01', '2017-01-01', '2017-02-01', '2017-03-01',
               '2017-04-01', '2017-05-01'],
              dtype='datetime64[ns]', freq='MS')

In [42]:
pd.Period('2016-01-01 10:10') + pd.Timedelta('1 day')

Period('2016-01-02 10:10', 'T')

In [43]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('1 day')

Timestamp('2016-01-02 10:10:00')

In [44]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('15 ns')

Timestamp('2016-01-01 10:10:00.000000015')

In [47]:
# FANCY FREQUENCY SETTING
# Only want business days
pd.period_range('2016-01-01 10:10', freq = 'B', periods = 10)

PeriodIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
             '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
             '2016-01-13', '2016-01-14'],
            dtype='period[B]', freq='B')

In [48]:
# It's possible to combine frequencies. What if you want to advance by 25 hours each day. What are the 2 ways to do it?
p1 = pd.period_range('2016-01-01 10:10', freq = '25H', periods = 10)

In [49]:
p2 = pd.period_range('2016-01-01 10:10', freq = '1D1H', periods = 10)

In [50]:
p1

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [71]:
p = pd.Period('July 2, 2000')
p

Period('2000-07-02', 'D')

In [64]:
t = pd.Timestamp('July 22, 2016')

In [70]:
print(p1.start_time, p1.end_time)
p1.start_time < t

DatetimeIndex(['2016-01-01 10:00:00', '2016-01-02 11:00:00',
               '2016-01-03 12:00:00', '2016-01-04 13:00:00',
               '2016-01-05 14:00:00', '2016-01-06 15:00:00',
               '2016-01-07 16:00:00', '2016-01-08 17:00:00',
               '2016-01-09 18:00:00', '2016-01-10 19:00:00'],
              dtype='datetime64[ns]', freq='25H') DatetimeIndex(['2016-01-02 10:59:59', '2016-01-03 11:59:59',
               '2016-01-04 12:59:59', '2016-01-05 13:59:59',
               '2016-01-06 14:59:59', '2016-01-07 15:59:59',
               '2016-01-08 16:59:59', '2016-01-09 17:59:59',
               '2016-01-10 18:59:59', '2016-01-11 19:59:59'],
              dtype='datetime64[ns]', freq='25H')

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,  True], dtype=bool)

In [51]:
p2

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [ ]:
# What are some other combos you can produce?
# hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases

In [54]:
# INDEXING WITH TIME OBJECTS
# You can use these objects for indices
# Let's start with using a date range as above
rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'D')
rng
pd.Series(range(len(rng)), index = rng)

2016-07-01    0
2016-07-02    1
2016-07-03    2
2016-07-04    3
2016-07-05    4
2016-07-06    5
2016-07-07    6
2016-07-08    7
2016-07-09    8
2016-07-10    9
Freq: D, dtype: int64

In [60]:
# You can also use time period indices, in cases where it makes more sense 
# to think about your index as a time span rather than a single point in time

periods = [pd.Period('2016-01'), pd.Period('2016-02'), pd.Period('2016-03')]
ts = pd.Series(np.random.randn(len(periods)), index = periods)
ts

2016-01   -1.045897
2016-02   -1.219929
2016-03   -3.068777
Freq: M, dtype: float64

In [61]:
# What type is the index for ts?
type(ts.index)

pandas.tseries.period.PeriodIndex

In [63]:
# Experiment with various indices
# Hint: does ts['2016'] work? 
ts['2016-01']

-1.0458973915563179

In [57]:
# Timestamped data can be convereted to period indices with to_period and vice versa with to_timestamp
ts = pd.Series(range(10), pd.date_range('07-10-16 8:00', periods = 10, freq = 'H'))
ts

2016-07-10 08:00:00    0
2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
2016-07-10 12:00:00    4
2016-07-10 13:00:00    5
2016-07-10 14:00:00    6
2016-07-10 15:00:00    7
2016-07-10 16:00:00    8
2016-07-10 17:00:00    9
Freq: H, dtype: int64

In [58]:
ts_period = ts.to_period()
ts_period

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
2016-07-10 12:00    4
2016-07-10 13:00    5
2016-07-10 14:00    6
2016-07-10 15:00    7
2016-07-10 16:00    8
2016-07-10 17:00    9
Freq: H, dtype: int64

In [72]:
ts_period['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of overlap with time periods

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
Freq: H, dtype: int64

In [73]:
ts['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of include with timestamps

Series([], Freq: M, dtype: float64)